.footer-to-left {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.footer-to-right {  
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.footer-to-left button {
    height: 30px;
    background-color: #D20606;
    border: 0px;
    border-radius: 5px;
    font-weight: bold;
    color: gainsboro;
}

.footer-to-right button {
    height: 30px;
    background-color: #227B04;
    border: 0px;
    border-radius: 5px;
    font-weight: bold;
    color: gainsboro;
}

button:hover {
    cursor: pointer;
    border: 1px solid black;
}